body {
    margin: 0; /* 移除默認邊距 */
    padding: 0; /* 移除默認內邊距 */
    min-height: 100vh; /* 確保 body 至少和視窗一樣高 */
    background: url('https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzY3NzR8MHwxfGFsbHwxfHx8fHx8fHwxNjE3OTQ2NzY2&ixlib=rb-1.2.1&q=80&w=1080') no-repeat center center fixed;
    background-size: cover; /* 確保背景圖片覆蓋整個元素 */
    display: flex; /* 使用 flexbox 佈局 */
    flex-direction: column; /* 垂直方向排列子元素 */
    justify-content: space-between; /* 在頂部和底部之間均勻分配空間 */
}

#jobForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 204, 0, 0.7); /* #ffcc00 with 70% opacity */
    border-radius: 8px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select,
textarea,
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #004080;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
   
   
    
}
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: blue;
}

#districts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.district-checkbox {
    display: flex;
    align-items: center;
}

.district-checkbox input {
    margin-right: 5px;
}

.w-45 {
    width: 45%;
}

.w-100 {
    width: 100%;
}

.fl {
    float: left;
}

.mr-5 {
    margin-right: 5%;
}

.hourly-rate-inputs {
    display: flex;
    align-items: center;
}

.hourly-rate-inputs input {
    width: 45%;
}

.hourly-rate-inputs span {
    margin: 0 5px;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
.spacer {
    height: 40px; /* 可以根據需要調整高度 */
    clear: both;
}